.fit-content {
    max-width: fit-content;
    margin: auto;
}

.navbar-item {
    text-transform: uppercase;
}

.trans-400 {
    transition: 400ms;
}

@media (min-width: 993px) {
    .large-margin-right-desktop {
        margin-right: 130px !important;
    }
}
