<v-btn text href="{% url 'frontend:home' %}" class="w3-hide-small">
    Home
</v-btn>
<v-btn text href="{% url 'frontend:about' %}">
    About
</v-btn>
<v-btn text href="{% url 'frontend:testimonials' %}">
    Testimonials
</v-btn>
{#<v-btn text href="{% url 'frontend:about' %}">#}
{#    Articles#}
{#</v-btn>#}
<v-btn text href="{% url 'frontend:contact' %}">
    Contact
</v-btn>
<v-btn text href="https://www.rhemalawgh.com/" target="_blank" rel="nofollow noreferrer" outlined
       class="w3-border w3-border-black">
    Rhema Law &nbsp;<v-icon small>mdi-launch</v-icon>
</v-btn>
{#<v-btn text>#}
{#    <div class="control has-icons-left">#}
{#        <div class="select is-rounded">#}
{#            <select id="language-select">#}
{#                <option value="fr">English</option>#}
{#                <option value="fr">French</option>#}
{#            </select>#}
{#        </div>#}
{#        <span class="icon is-left">#}
{#                    <i class="fas fa-globe"></i>#}
{#        </span>#}
{#    </div>#}
{#</v-btn>#}
