{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    About
{% endblock %}
{% block extra_head %}
    <style>
        .bg-service {
            background: url("{% static 'images/banner-image-4.jpg' %}");
            background-size: cover;
            background-position: bottom;
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.8);
        }
    </style>

{% endblock %}
{% block content %}
    <section class="hero is-medium is-dark bg-service">
        <div class="hero-body ">
            <div class="container">
                <div>
                    {% include 'frontend/partials/oc_logo.html' %}
                </div>
                <br>
                <br>
                <div class="bgoverlay w3-padding-large w3-padding-32">
                    <h1 class="w3-xxxlarge">About us</h1>
                    <p class="w3-xlarge">
                        Oxford Consultants is a young, dynamic, bi-lingual, progressive company established to offer
                        business support, strategic advisory and consultancy services with a full spectrum of
                        capabilities in
                        a myriad of areas of business, namely entities registrations, company secretarial services,
                        corporate
                        governance, compliance, immigration, nominee services, liquidation, tax advisory and allied
                        services,
                        translation services (French and English), and human resources services.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
