{% load static wagtailimages_tags wagtailcore_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}{% block title %}{% endblock %} &bull; Oxford Consultants</title>

    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.17/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        @font-face {
            font-family: 'Circular-Book';
            src: url('{% static 'fonts/Circular/CircularStd-Book.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'CooperPenny';
            src: url('{% static 'fonts/CooperPenny/copper penny dtp.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'Circular-Black';
            src: url('{% static 'fonts/Circular/CircularStd-Black.ttf' %}') format('truetype');
        }

        *, div, body, p {
            font-family: "Circular-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        !important;
            font-size: 16px;
        }

        h1, h2, h3, h4, h5, h6, strong {
            font-family: CooperPenny, "Circular-Black", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        !important;
        }

        .dl {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            display: inline-block;
        }

        .dl__square {
            display: block;
            width: 150px;
            height: 150px;
            margin: auto;
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.4);
        }

    </style>
    {% block extra_head %}

    {% endblock %}
</head>
<body style="width: 100%">

<div class="dl" id="loading">
    <div class="dl__square w3-animate-right w3-animate-zoo">
        <img src="{% static 'images/svg/oc.svg' %}" alt="">
    </div>
</div>
<div id="app" class="w3-hide w3-animate-opacity trans-400">
    <v-app>
        {% if messages %}
            <div style="position: fixed;width: 100%;bottom: 0;z-index: 1000">
                {% for message in messages %}
                    {% if message.level_tag == 'success' %}
                        <div class="w3-padding-large w3-large w3-green w3-center w3-animate-bottom">
                            {{ message }}
                        </div>
                    {% elif message.level_tag == 'info' %}
                        <div class="w3-padding-large w3-large w3-blue w3-center w3-animate-bottom">
                            {{ message }}
                        </div>
                    {% elif message.level_tag == 'error' %}
                        <div class="w3-padding-large w3-large w3-red w3-center w3-animate-bottom">
                            {{ message }}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        {% endif %}
        <v-toolbar flat>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"
                                class="w3-hide-medium w3-hide-large w3-hide"></v-app-bar-nav-icon>
            <a href="/">
                <v-toolbar-title>
                    <div class="level is-mobile ">
                        <div class="level-item" style="margin-right: 0.1rem">
                            <img src="{% static 'images/svg/oc.svg' %}" alt="" style="height: 30px">
                        </div>
                        <div class="level-item">
                            <h6 class="w3-text-black" style="margin-top: 5px"
                                class="w3-large">Oxford Consultants</h6>
                        </div>
                    </div>
                </v-toolbar-title>
            </a>
            <v-spacer></v-spacer>
            <div class="w3-hide-small w3-hide-medium">
                {% include 'frontend/partials/navigation.html' %}
            </div>
        </v-toolbar>
        <div class="w3-hide-large w3-border-top w3-border-black w3-padding-8 w3-container">
            <div class="w3-center w3-content" style="overflow-x: auto;white-space: nowrap">
                {% include 'frontend/partials/navigation.html' %}
            </div>
        </div>
        <div class="w3-topbar w3-border-red" style="width: 100%"></div>
        {% block content %}
        {% endblock %}
        <img class="w3-hide" src="{% static 'images/svg/topRed.svg' %}" alt="" style="margin-bottom: -15px;width: 100%">
        <section class="hero is-bold w3-hide" style="color: white;background-color: red">
            <div class="hero-body" style="max-width: 1680px;margin: auto">
                <h1 class="w3-xxlarge w3-center">
                    Stay in the Know with Our Newsletter
                </h1>
                <p class="fit-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur ducimus eaque earum
                    illo
                    iure laboriosam minus natus nulla perferendis quia repellat soluta ullam, voluptas voluptate
                    voluptatem voluptatum? Officia, vero!
                </p>
                <br>
                <div class="w3-center">
                    <v-btn rounded x-large>
                        Subscribe
                    </v-btn>
                </div>
                <br>
                <br>
            </div>
        </section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3875.324557090543!2d-0.1841226816907117!3d5.59893244059772!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba97f593c0664741!2sStanbic%20Bank%20-%20Heights%20Branch!5e0!3m2!1sen!2sgh!4v1585839676240!5m2!1sen!2sgh"
                width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        <footer class="w3-black w3-padding-large w3-padding-64">
            <div style="max-width: 1680px;margin: auto" class="w3-container">
                <div class="columns is-multiline">
                    <div class="column">
                        <div class="columns">
                            <div class="w3-margin-right w3-padding-8">
                                <a href="{% url 'frontend:home' %}"
                                   class="is-uppercase w3-text-white w3-border-bottom">
                                    Home
                                </a>
                            </div>
                            <div class="w3-margin-right w3-padding-8">
                                <a href="{% url 'frontend:about' %}"
                                   class="is-uppercase w3-text-white w3-border-bottom">
                                    About
                                </a>
                            </div>
                            <div class="w3-margin-right w3-padding-8">
                                <a href="{% url 'frontend:about' %}"
                                   class="is-uppercase w3-text-white w3-border-bottom">
                                    Testimonials
                                </a>
                            </div>
                            <div class="w3-margin-right w3-padding-8">
                                <a href="{% url 'frontend:contact' %}"
                                   class="is-uppercase w3-text-white w3-border-bottom">
                                    Contact
                                </a>
                            </div>
                        </div>
                        <h1 class="w3-xlarge">We're social</h1>
                        <br>
                        <div class="level is-mobile">
                            <div class="level-left">
                                <v-btn fab class="level-item"
                                       href="https://www.linkedin.com/company/oxford-consultants-ghana/">
                                    <i class="fab fa-linkedin-in"></i>
                                </v-btn>
                                <v-btn fab class="level-item" href="https://www.instagram.com/oxfordconsultantsgh/">
                                    <i class="fab fa-instagram"></i>
                                </v-btn>
                                <v-btn fab class="level-item"
                                       href="https://www.facebook.com/Oxford-Consultants-101163331576991/">
                                    <i class="fab fa-facebook"></i>
                                </v-btn>
                                <v-btn fab class="level-item w3-hide">
                                    <i class="fab fa-youtube"></i>
                                </v-btn>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <br>
                    </div>
                </div>
                <hr>

                <div class="level-left">
                    <div class="level-item"><a href="{% slugurl 'privacy-policy' %}"
                                               class="w3-text-white w3-border-bottom">Privacy Policy</a>
                    </div>
                    <div class="level-item"><a href="{% url 'django.contrib.sitemaps.views.sitemap' %}"
                                               class="w3-text-white w3-border-bottom">Sitemap</a></div>
                </div>
                <div class="level-right w3-center">
                    <div class="level-item"><a href="" class="w3-text-white">© 2020 - {{ current_year }} Oxford
                        Consultants. All Rights
                        Reserved.</a></div>
                </div>
            </div>
        </footer>
    </v-app>

</div>

<script src="{% static 'js/script.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
{% block extra_body %}
{% endblock %}
<script>
    let vueApp = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        delimiters: ['[[', ']]'],
        data() {
            return {
                drawer: false,
                languages: ['English', 'French'],
                showProfileDialog: false,
                profile: null,
                items: [
                    {
                        src: '{% static 'images/banner-image-1.jpg' %}',
                    },
                    {
                        src: '{% static 'images/banner-image-2.jpg' %}',
                    },
                    {
                        src: '{% static 'images/banner-image-3.jpg' %}',
                    },
                ],
            };
        },
        watch: {},
        mounted: function () {
            setTimeout(() => {
                $('#app').removeClass('w3-hide');
            }, 100);
            setTimeout(() => {
                $('#loading').addClass('w3-hide')
            }, 200);
        },
        methods: {
            goTo(url) {
                window.location.href = url;
            },
            showProfile(name) {
                this.showProfileDialog = true
                this.profile = name
            }
        }
    });
    $('select#language-select option[value="en"]').attr("selected", window.location.href.includes('/en/'));
    $('select#language-select option[value="fr"]').attr("selected", window.location.href.includes('/fr/'));

    $(function () {

        // bind change event to select
        $('#language-select').on('change', function () {
            var language = $(this).val();
            if (language) {
                let url = window.location.href;
                let currentLanguage;
                language === 'en' ? currentLanguage = 'fr' : currentLanguage = 'en';
                window.location = url.replace(currentLanguage, language);
            }
            return false;
        });
    });
</script>
{#<!-- Start of Async Drift Code -->#}
{#<script>#}
{#    "use strict";#}
{##}
{#    !function () {#}
{#        var t = window.driftt = window.drift = window.driftt || [];#}
{#        if (!t.init) {#}
{#            if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));#}
{#            t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],#}
{#                t.factory = function (e) {#}
{#                    return function () {#}
{#                        var n = Array.prototype.slice.call(arguments);#}
{#                        return n.unshift(e), t.push(n), t;#}
{#                    };#}
{#                }, t.methods.forEach(function (e) {#}
{#                t[e] = t.factory(e);#}
{#            }), t.load = function (t) {#}
{#                var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");#}
{#                o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";#}
{#                var i = document.getElementsByTagName("script")[0];#}
{#                i.parentNode.insertBefore(o, i);#}
{#            };#}
{#        }#}
{#    }();#}
{#    drift.SNIPPET_VERSION = '0.3.1';#}
{#    drift.load('2tayikarexg5');#}
{#</script>#}
{#<!-- End of Async Drift Code -->#}
{% if not 'voting' in request.path %}
    <!-- Start of Async Drift Code -->

    <script>
        "use strict";

        !function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                    t[e] = t.factory(e);
                }), t.load = function (t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('i4refunnzeit');
    </script>
    <!-- End of Async Drift Code -->
{% endif %}
</body>
</html>
