{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    Contact
{% endblock %}
{% block extra_head %}
    <style>
        .bg-service {
            background: url("{% static 'images/banner-image-4.jpg' %}");
            background-size: cover;
            background-position: bottom;
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.8);
        }
    </style>

{% endblock %}
{% block content %}
    <section class="hero is-medium is-dark bg-service">
        <div class="hero-body ">
            <div class="container">
                <div>
                    {% include 'frontend/partials/oc_logo.html' %}
                </div>
                <br>
                <br>
                <div class="bgoverlay w3-padding-large w3-padding-32" style="max-width: 1000px;">
                    <h1 class="w3-xxxlarge">Contact us</h1>
                    <form class="w3-xlarge" method="post">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label w3-text-white">From</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input" type="text" placeholder="Name" name="name" required
                                               value="Charles Thompson">
                                        <span class="icon is-small is-left">
                                          <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded has-icons-left has-icons-right">
                                        <input class="input is-success" type="email" placeholder="Email" name="email"
                                               required value="cpkthompson@gmail.com">
                                        <span class="icon is-small is-left">
                                          <i class="fas fa-envelope"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                          <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <div class="field has-addons">
                                        <p class="control is-expanded">
                                            <input name="phone" class="input" type="tel"
                                                   placeholder="Your phone number" required value="0246484255">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label w3-text-white">Subject</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input name="subject" class="input" type="text"
                                               placeholder="e.g. Partnership opportunity" required
                                               value="Partnership opportunity">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label w3-text-white">Question</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea name="message" class="textarea"
                                                  placeholder="Explain how we can help you" required>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur corporis hic, laboriosam laudantium magnam nam natus nesciunt nisi nostrum porro praesentium quo repudiandae temporibus vel? Corporis quae repudiandae ut!
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-white" type="submit">
                                            Send message
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
