{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    Contact
{% endblock %}
{% block extra_head %}
    <style>
        .bg-service {
            background: url("{% static 'images/banner-image-4.jpg' %}");
            background-size: cover;
            background-position: bottom;
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.8);
        }
    </style>

{% endblock %}
{% block content %}
    <section class="hero is-medium is-dark bg-service">
        <div class="hero-body ">
            <div class="container">
                <div>
                    {% include 'frontend/partials/oc_logo.html' %}
                </div>
                <br>
                <br>
                <div class="bgoverlay w3-padding-large w3-padding-32" style="max-width: 1000px;">
                    <form class="w3-xlarge" method="post">
                        {% csrf_token %}
                        <h1 class="w3-xxxlarge">Contact us</h1>
                        <br>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label w3-text-white w3-large">From *</label>
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input" type="text" placeholder="Name" name="name" required>
                                        <span class="icon is-small is-left">
                                          <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label w3-text-white w3-large">Email *</label>
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-success" type="email" placeholder="Email" name="email"
                                               required>
                                        <span class="icon is-small is-left">
                                          <i class="fas fa-envelope"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <label class="label w3-text-white w3-large">Phone</label>
                                    <div class="field has-addons">
                                        <p class="control is-expanded has-icons-left">
                                            <input name="phone" class="input" type="tel"
                                                   placeholder="Your phone number">
                                            <span class="icon is-small is-left">
                                              <i class="fas fa-phone-alt"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <label class="label w3-text-white w3-large">Subject *</label>
                                        <input name="subject" class="input" type="text"
                                               placeholder="e.g. Inquiries, Opportunity, etc" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">

                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <label class="label w3-text-white w3-large">Message *</label>
                                        <textarea name="message" class="textarea"
                                                  placeholder="Explain how we can help you" required>

                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-white" type="submit">
                                            Send message
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
