{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    Welcome
{% endblock %}
{% block extra_head %}
    <style>
        .bgimg {
            background-image: url('{% static 'images/girls.png'%}');
            background-size: cover;
            background-position: center;
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
{% endblock %}
{% block content %}
    <v-carousel class="w3-topbar w3-border-red" hide-delimiters :show-arrows="false" cycle height="80vh">
        {% for banner in banners %}
            <v-carousel-item>
                <div style='background-image: url("{{ banner.src }}");background-position: center;background-size: 2000px;height: 100%;width: 100%;'>
                    <div class="bgoverlay w3-display-container" style="height: 100%;width: 100%;">
                        <div class="w3-display-middle w3-text-white" style="width: 80%;margin: auto">
                            <div class="w3-center">
                                <img src="{% static 'images/svg/oc.svg' %}" alt="" style="height: 100px">
                                <h1 class="w3-jumbo w3-text-black">
                                    OXFORD
                                </h1>
                                <h1 class="w3-text-black" style="margin-top: -30px;font-size: 35px">
                                    CONSULTANTS
                                </h1>
                                <h1 class="w3-xxlarge w3-hide-small w3-margin-bottom">
                                    {{ banner.text }}
                                    <br>
                                </h1>
                                <h6 class="w3-xlarge w3-hide-small w3-content">
                                    We're a young, dynamic, bi-lingual, progressive company.
                                    It is our culture and philosophy to work closely with our clients to understand all
                                    their business needs.
                                </h6>
                                <h1 class="w3-xlarge w3-hide-medium w3-hide-large w3-margin-bottom">
                                    {{ banner.text }}
                                    <br>
                                </h1>
                                <h6 class="w3-large w3-hide-medium w3-hide-large">
                                    We're a young, dynamic, bi-lingual, progressive company.
                                    It is our culture and philosophy to work closely with our clients to understand all
                                    their business needs.
                                </h6>
                                <br>
                                <v-btn x-large rounded light>{{ banner.cta_text }}</v-btn>
                            </div>
                        </div>
                    </div>
                </div>
            </v-carousel-item>
        {% endfor %}
    </v-carousel>
    <section class="is-small w3-padding-48 w3-topbar w3-border-red">
        <div class="w3-padding-large container">
            <h1 class="w3-xxlarge w3-center">Who We Are</h1>
            <br>
            <br>
            <div class="w3-xlarge" style="max-width: 1000px;margin: auto">
                <div class="media is-mobile">
                    <div class="media-content">
                        <p class="w3-xlarge">
                            Oxford Consultants is a young, dynamic, bi-lingual, progressive company established to offer
                            business
                            support, strategic advisory and consultancy services with a full spectrum of capabilities in
                            a myriad of
                            areas of business, namely entities registrations, company secretarial services, corporate
                            governance,
                            compliance, immigration, nominee services, liquidation, tax advisory and allied services,
                            translation
                            services (French and English), and human resources services.
                        </p>
                    </div>
                    <div class="media-right w3-hide-small" style="margin: auto">
                        <img src="{% static 'images/oxford_white.png' %}" style="max-width: 300px" alt="">
                        <br>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <img src="{% static 'images/svg/top.svg' %}" alt="" style="width: 100%">
    <section class="hero is-small w3-padding-48 is-black" style="background-color: black;">
        <div class="hero-body" style="max-width: 1200px;margin: auto">
            <div class="columns is-mobile is-multiline is-centered">
                <div class="column is-12">
                    <h1 class="w3-xxlarge w3-center">Services</h1>
                </div>
                {% for service in services|slice:9 %}
                    <div class="column is-4-desktop is-4-tablet is-12-mobile w3-padding-32">
                        <v-card shaped flat max-width="370" outlined>
                            <div class="w3-padding-small">
                                <v-card-text>
                                    {{ service.icon|safe }}
                                    <h1 class="w3-xlarge w3-margin-top w3-margin-bottom">{{ service.title }}</h1>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn color="deep-purple lighten-2"
                                           text>
                                        Read more&nbsp;<i class="fas fa-angle-right"></i>
                                    </v-btn>
                                </v-card-actions>
                                <br>
                            </div>
                        </v-card>
                    </div>
                {% endfor %}
                {% if services|length > 9 %}
                    <div class="w3-center">
                        <v-btn x-large rounded outlined>More Services</v-btn>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>


    <img src="{% static 'images/svg/bottom.svg' %}" alt="" style="width: 100%">
    <section class="hero is-small w3-padding-48" style="">
        <div class="hero-body container">
            <div class="columns is-mobile is-multiline">
                <div class="column is-12">
                    <h1 class="w3-xxlarge">Blog posts</h1>
                </div>
                {% for foo in 'abc' %}
                    <div class="column is-4-desktop is-4-tablet is-12-mobile">
                        <v-card flat shaped max-width="374" outlined>

                            <img style="max-height:350px"

                                 src="https://media-public.canva.com/MADaq3lLYF0/1/thumbnail_large-1.jpg">
                            <div class="w3-padding-small">
                                <v-card-text>
                                    <v-chip-group
                                            active-class="deep-purple accent-4 white--text">
                                        <v-chip>Technology</v-chip>
                                    </v-chip-group>
                                    <h1 class="w3-xlarge w3-margin-top w3-margin-bottom">Doing Business in Ghana</h1>
                                    <p class="is-marginless">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis
                                        ea
                                        eaque facere hic in nemo optio provident soluta tempora. Excepturi labore nisi
                                        pariatur praesentium quod. Alias nisi quod sunt.
                                    </p>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn color="deep-purple lighten-2"
                                           text>
                                        Read more&nbsp;<i class="fas fa-angle-right"></i>
                                    </v-btn>
                                </v-card-actions>

                            </div>
                        </v-card>
                    </div>
                {% endfor %}
                <div class="column is-12 w3-center">
                    <v-btn x-large rounded outlined>
                        See all insights&nbsp;<i class="fas fa-angle-right"></i>

                    </v-btn>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
