{% extends 'frontend/base.html' %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% block page_title %}
    {{ page.title }}
{% endblock %}
{% block extra_head %}
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
{% endblock %}
{% block content %}
    <div class="hero is-medium is-black">
        <div class="hero-body w3-container w3-center w3-content">
            <div class="w3-text-white">
                <strong class="w3-xxlarge w3-text-white">{{ page.title }}</strong>
                <br>
                <div class="w3-xlarge w3-margin-top">
                    {{ page.introduction_text|richtext|linebreaksbr }}
                </div>
            </div>
        </div>
    </div>
    <div class="w3-content">
        <section class="w3-padding-64 w3-padding">
            <div class="w3-hide-small">
                <div class="tabs is-boxed is-medium is-marginless">
                    <ul class="is-paddingless">
                        {% for section in page.sections.all %}
                            <li id="section-tab-{{ section.id }}"
                                class="tablinks">
                                <a onclick="switchTab('{{ section.id }}')"><strong>{{ section.title }}</strong></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% for section in page.sections.all %}
                    <div id="section-body-{{ section.id }}"
                         class="tabcontent w3-padding-large w3-border-bottom w3-border-left w3-border-right">
                        <br>
                        {{ section.body|richtext }}
                        {% if section.file %}
                            <br>
                            <table class="table is-fullwidth">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th class="w3-hide-small"></th>
                                    <th class="w3-hide-small"></th>
                                    <th class="w3-right-align w3-center">Download</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <td style="margin: auto">
                                        <div style="white-space: nowrap" class="w3-large">
                                            {{ section.title }}
                                        </div>
                                    </td>
                                    <td class="w3-hide-small">
                                        <p style="color: transparent">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa
                                        </p>
                                    </td>
                                    <td class="w3-hide-small"></td>
                                    <td class="w3-right-align">
                                        <v-btn rounded color="primary" href="{{ section.file.url }}">Download
                                            <v-icon>mdi-download</v-icon>
                                        </v-btn>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        {% endif %}
                        {% if section.upload %}
                            <form action="{% url 'frontend:upload_form' %}" method="post"
                                  enctype="multipart/form-data" class="w3-padding-large w3-card-4 w3-padding-32">
                                <h1 class="w3-large">{{ section.upload_instruction_title }}</h1>
                                {% if section.upload_instruction_body %}
                                    <p>
                                        {{ section.upload_instruction_body }}
                                    </p>
                                {% endif %}
                                {% csrf_token %}
                                <div class="w3-padding w3-light-grey w3-margin-top w3-margin-bottom w3-padding-16">
                                    {{ upload_form.as_table }}
                                    <input type="text" name="name" value="{{ section.title }}" hidden>
                                </div>
                                <v-btn type="submit" color="primary" rounded>Upload</v-btn>
                            </form>
                        {% endif %}
                        {% if section.show_people %}
                            <div class="columns is-multiline is-centered">
                                {% for person in section.people %}
                                    <div class="column is-4">
                                        <div class="w3-padding-small w3-center">
                                            {% image person.photo original as image %}
                                            <img src="{{ image.url }}" class="w3-border w3-border-black">
                                            <br>
                                            <h1 class="w3-margin-top w3-margin-bottom">{{ person.name }}</h1>
                                            <v-btn rounded flat outlined v-on:click="showProfile('{{ person.id }}')">View Profile</v-btn>
                                        </div>
                                    </div>
                                {% endfor %}
                                <v-dialog width="1000px" v-model="showProfileDialog">
                                    {% for person in section.people %}
                                        <v-card height="600px" style="overflow-y: hidden" class="pha-deep-blue" v-if="profile=={{ person.id }}">
                                            <v-layout>
                                                <v-flex xs0 sm5 md5 lg5>
                                                    {% image person.photo fill-400x600 as photo %}
                                                    <v-img
                                                            src="{{ photo.url }}" alt="{{ person.get_full_name }}"
                                                            lazy-src="{{ photo.url }}"
                                                            class="grey lighten-2">
                                                        <v-layout
                                                                slot="placeholder"
                                                                fill-height
                                                                align-center
                                                                justify-center
                                                                ma-0>
                                                            <v-progress-circular indeterminate
                                                                                 color="grey lighten-5"></v-progress-circular>
                                                        </v-layout>
                                                    </v-img>
                                                </v-flex>
                                                <v-flex xs12 sm7 md7 lg7 class="w3-padding">
                                                    <v-card-title primary-title>
                                                        <div>
                                                            <h3 class="is-bold w3-xxlarge w3-margin-top">{{ person.name }}</h3>
                                                        </div>
                                                    </v-card-title>
                                                    <v-card-text style="height: 460px;overflow-y: auto">
                                                        <div class="w3-large">
                                                            {{ person.description|richtext }}
                                                        </div>
                                                        <br>
                                                    </v-card-text>
                                                </v-flex>
                                            </v-layout>
                                        </v-card>
                                    {% endfor %}
                                </v-dialog>

                            </div>
                        {% endif %}
                        <br>
                    </div>

                {% endfor %}
            </div>
            <div class="w3-hide-medium w3-hide-large">
                <v-expansion-panels mandatory accordion>
                    {% for section in page.sections.all %}
                        <v-expansion-panel popout>
                            <v-expansion-panel-header class="w3-padding-24 w3-large">
                                <strong>{{ section.title }}</strong>
                            </v-expansion-panel-header>

                            <v-expansion-panel-content>
                                {{ section.body|richtext }}
                                {% if section.file %}
                                    <br>
                                    <table class="table is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th class="w3-hide-small"></th>
                                            <th class="w3-hide-small"></th>
                                            <th class="w3-right-align w3-center">Download</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                            <td style="margin: auto">
                                                <div style="white-space: nowrap" class="w3-large">
                                                    {{ section.title }}
                                                </div>
                                            </td>
                                            <td class="w3-hide-small">
                                                <p style="color: transparent">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                                                    culpa
                                                </p>
                                            </td>
                                            <td class="w3-hide-small"></td>
                                            <td class="w3-right-align">
                                                <v-btn rounded color="primary" href="{{ section.file.url }}">Download
                                                    <v-icon>mdi-download</v-icon>
                                                </v-btn>
                                            </td>

                                        </tr>

                                        </tbody>
                                    </table>
                                {% endif %}
                                {% if section.upload %}
                                    <form action="{% url 'frontend:upload_form' %}" method="post"
                                          enctype="multipart/form-data"
                                          class="w3-padding-large w3-card-4 w3-padding-32">
                                        <h1 class="w3-large">{{ section.upload_instruction_title }}</h1>
                                        {% if section.upload_instruction_body %}
                                            <p>
                                                {{ section.upload_instruction_body }}
                                            </p>
                                        {% endif %}
                                        {% csrf_token %}
                                        <div class="w3-padding w3-light-grey w3-margin-top w3-margin-bottom w3-padding-16">
                                            {{ upload_form.as_table }}
                                            <input type="text" name="name" value="{{ section.title }}" hidden>
                                        </div>
                                        <v-btn type="submit" color="primary" rounded>Upload</v-btn>
                                    </form>
                                {% endif %}
                                {% if section.show_people %}
                                    <div class="columns is-multiline is-centered">
                                        {% for person in section.people %}
                                            <div class="column is-4">
                                                <div class="w3-padding-small w3-center">
                                                    {% image person.photo original as image %}
                                                    <img src="{{ image.url }}" class="w3-border w3-border-black">
                                                    <br>
                                                    {#                                                    <a class="w3-margin-top" @click="showProfile('{{ person.name }}')">{{ person.name }}</a>#}
                                                    <v-layout row justify-center>
                                                        <v-dialog width="1000px" v-model="showProfileDialog">
                                                            <v-card height="600px" style="overflow-y: hidden">
                                                                <v-layout>
                                                                    <v-flex xs0 sm5 md5 lg5>
                                                                        {% image person.photo fill-400x600 as photo %}
                                                                        <v-img
                                                                                src="{{ photo.url }}" alt="{{ person.get_full_name }}"
                                                                                lazy-src="{{ photo.url }}"
                                                                                class="grey lighten-2">
                                                                            <v-layout
                                                                                    slot="placeholder"
                                                                                    fill-height
                                                                                    align-center
                                                                                    justify-center
                                                                                    ma-0>
                                                                                <v-progress-circular indeterminate
                                                                                                     color="grey lighten-5"></v-progress-circular>
                                                                            </v-layout>
                                                                        </v-img>
                                                                    </v-flex>
                                                                    <v-flex xs12 sm7 md7 lg7 class="w3-padding">
                                                                        <v-card-title primary-title>

                                                                            <div>
                                                                                <h3 class="is-bold w3-xxlarge">{{ person.name }}</h3>
                                                                                {% if person.job_title %}
                                                                                    <h4 class="is-bold w3-xlarge">{{ person.job_title }}</h4>
                                                                                {% endif %}
                                                                            </div>
                                                                        </v-card-title>
                                                                        <v-card-text style="height: 460px;overflow-y: auto">
                                                                            <p class="w3-large">
                                                                                {{ person.description|linebreaksbr }}
                                                                            </p>
                                                                            <br>
                                                                        </v-card-text>
                                                                    </v-flex>
                                                                </v-layout>
                                                            </v-card>
                                                        </v-dialog>
                                                    </v-layout>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <br>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    {% endfor %}
                </v-expansion-panels>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        function switchTab(id) {
            let i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                try {
                    tablinks[i].classList.remove('is-active');
                } catch (e) {

                }
            }
            document.getElementById(`section-tab-${id}`).classList.add('is-active');
            document.getElementById(`section-body-${id}`).style.display = 'block';
        }

        switchTab('{{ page.sections.first.id }}')
    </script>
{% endblock %}
