{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    {{ service.title }}
{% endblock %}
{% block extra_head %}
    <style>
        .bg-service {
            background: url("{% static 'images/banner-image-4.jpg' %}");
            background-size: cover;
            background-position: bottom;
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.8);
        }
    </style>

{% endblock %}
{% block content %}
    <section class="hero is-medium is-dark bg-service">
        <div class="hero-body ">
            <div class="container">
                <div>
                    {% include 'frontend/partials/oc_logo.html' %}
                </div>
                <br>
                <br>
                <div class="bgoverlay w3-padding-large w3-padding-32">
                    <h1 class="w3-xxxlarge">{{ service.title }}</h1>
                    <p class="w3-xlarge">
                        {{ service.description }}
                    </p>
                    <br>
                    <br>
                    <v-btn rounded x-large>Contact us</v-btn>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
