{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    Testimonials
{% endblock %}
<style>
    .v {
        color: red;
    }
</style>

{% block content %}
    <section class="hero is-medium w3-white" style="min-height: 100vh">
        <div class="hero-body">
            <div class="container ">
                <div class="w3-padding-large w3-padding-16">
                    <h1 class="w3-xxxlarge">Testimonials</h1>
                    <br>
                    <div class="w3-xlarge columns is-multiline is-centered">
                        {% for testimonial in testimonials %}
                            <div class=" column is-10">
                                <a href="">

                                    <div class="card w3-bottombar w3-bottombar w3-border-black trans-400">
                                        <div class="card-content">
                                            <p class="w3-padding-16 w3-xlarge">
                                                {{ testimonial.text|linebreaksbr }}
                                            </p>
                                            <strong>- {{ testimonial.author }}</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
