{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}
    {{ service.title }}
{% endblock %}
{% block content %}
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container w3-padding-64 w3-center" style="max-width: 800px;margin: auto">
                <h1 class="w3-xxlarge w3-padding-16">
                    Resolution {{ question.slug }}:
                    {{ question.text }}
                </h1>
                {% if not person.is_chairman %}
                    {% for possible_answer in question.possible_answers.all %}
                        <a style="margin: 5px;" href="{% url 'frontend:voting_view_answer' question.ordering %}?token={{ person.token }}&answer={{ possible_answer.id }}" class="button is-rounded w3-border-black is-large w3-border" type="submit">
                            <h6>{{ possible_answer.text }}</h6>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
